body {
  background-color: black;
}
.text {
  display: flex;
  flex-direction: column;
  margin-top: 10rem;
}
.text h1 {
  font-size: 60px;
}
.text p {
  margin-top: 2em;
  font-size: 20px;
}
.image {
  display: flex;
  flex-direction: column;

}
.img-col1  {
  display: flex;
  flex-direction: column;
  height: 190px;
  width: 120px;
  margin-left: 45rem;
  margin-top: -23rem;

  
}
.img-col2{
  display: flex;
  flex-direction: column;
  height: 190px;
  width: 120px;
  margin-left: 55rem;
  margin-top: -15rem;

}
.img-col3{

  display: flex;
  flex-direction: column;
  height: 190px;
  width: 120px;
  margin-left: 65rem;
  margin-top: -9rem;

}
.mid-text{
  display: flex;
  flex-direction: column;
  margin-top: 15rem;
}
.mid-text #p1{
  font-size: 45px;
  margin-left: 25rem;
}
.mid-text #p2{
  color: purple;
  font-size: 20px;
  margin-left: 28rem;
}
.info-1{
  margin-top: 3em;
  height: 90px;
  /* background-color: green; */
  /* border: 2px solid grey; */
  width:30%;
  margin-left: 25em;
}
.info-1:hover{
  border: 2px solid gray;
}
#g1{
  padding: 5px;
  font-size: 18px;
}
#g2{
  margin-top: 1rem;
  color: purple;

}
.info-2{
  margin-top: 3em;
  height: 90px;
  /* background-color: green; */
  /* border: 2px solid grey; */
  width:30%;
  margin-left: 25em;
}
.info-2:hover{
  border: 2px solid gray;
}
#o1{
  padding: 5px;
  font-size: 18px;
}
#o2{
  margin-top: 1rem;
  color: purple;

}
.info-3{
  margin-top: 3em;
  height: 90px;
  /* background-color: green; */
  /* border: 2px solid grey; */
  width:30%;
  margin-left: 54em;
  margin-top: -15rem;
}
.info-3:hover{
  border: 2px solid gray;
}
#s1{
  padding: 5px;
  font-size: 18px;
}
#s2{
  margin-top: 1rem;
  color: purple;

}
.info-4{
  margin-top: 3em;
  height: 90px;
  /* background-color: green; */
  /* border: 2px solid grey; */
  width:30%;
  margin-left: 54em;
  margin-top: 3rem;
}
.info-4:hover{
  border: 2px solid gray;
}
#f1{
  padding: 5px;
  font-size: 18px;
}
#f2{
  margin-top: 1rem;
  color: purple;

}