* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background-color: rgba(167, 154, 154, 0.228);
  padding: 10px;
}

nav ul {
  display: flex;
  /* justify-content: space-evenly; */
  align-items: center;
  list-style-type: none;
}
li:hover{
  color: purple;
}
nav ul li{
    position: relative;
    left: 40rem;
}

nav ul li a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
}

nav ul li a:hover {
  background-color: #555;
  border-radius: 5px;
}

